<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.moranlee.justgo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.activity.login_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.activity.main_menu_activity" />
        <activity android:name=".activity.activity.select_food_option_activity" />
        <activity android:name=".activity.activity.select_from_food_database_activity" />
        <activity android:name=".activity.activity.confirm_nutrient_activity" />
        <activity android:name=".activity.activity.add_new_diet_activity" />
        <activity android:name=".activity.activity.select_from_exercise_database_activity" />
        <activity android:name=".activity.activity.select_exercise_option_activity" />
        <activity android:name=".activity.activity.add_new_exercise_activity" />
        <activity android:name=".activity.activity.select_body_option_activity" />
        <activity android:name=".activity.activity.show_body_activity" />
        <activity android:name=".activity.activity.add_new_body_status_activity" />
        <activity android:name=".activity.activity.get_exercise_recommendation_activity"/>
        <activity android:name=".activity.activity.NormalExpandActivity"/>
        <activity android:name=".activity.activity.select_diet_option_activity"/>
        <activity android:name=".activity.activity.register_activity"/>


    </application>

</manifest>