<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.moranlee.justgo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.activity.user_usage.login_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.activity.main_menu_activity" />
        <activity android:name=".activity.activity.user_usage.edit_profile_activity" />
        <activity android:name=".activity.activity.user_usage.change_password_activity" />
        <activity android:name=".activity.activity.food_usage.select_food_option_activity" />
        <activity android:name=".activity.activity.food_usage.select_from_food_database_activity" />
        <activity android:name=".activity.activity.food_usage.confirm_food_nutrient_activity" />
        <activity android:name=".activity.activity.food_usage.add_new_food_activity" />
        <activity android:name=".activity.activity.exercise_usage.select_exercise_option_activity" />
        <activity android:name=".activity.activity.exercise_usage.add_new_exercise" />
        <activity android:name=".activity.activity.recommandition_usage.get_recommendation_activity" />
        <activity android:name=".activity.activity.food_usage.NormalExpandFoodActivity" />
        <activity android:name=".activity.activity.diet_usage.select_diet_option" />
        <activity android:name=".activity.activity.user_usage.register_activity" />
        <activity android:name=".activity.activity.weight_usage.past_and_new_weight_activity" />
        <activity android:name=".activity.activity.food_usage.search_food_name_activity" />
        <activity android:name=".activity.activity.analysis_usage.Analysis" />
        <activity android:name=".activity.activity.exercise_usage.NormalExpandExerciseActivity" />
        <activity android:name=".activity.activity.diet_usage.NormalExpandDietActivity" />
        <activity android:name=".activity.activity.diet_usage.confirm_diet_nutrient" />
        <activity android:name=".activity.activity.exercise_usage.confirm_exercise_data_activity"></activity>
    </application>

</manifest>